@model Concert.DAL.Entities.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h1>¡¡EXITO!!</h1>

<h4>TICKET VERIFICADO Y VALIDADO</h4>
<br /> 
@if (TempData["TicketValido"] != null)
{
    <div class="alert alert-sucess">@TempData["TicketValido"]</div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UseDate" class="control-label"></label>
                <input asp-for="UseDate" class="form-control" />
                <span asp-validation-for="UseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsUsed" class="control-label"></label>
                <input asp-for="IsUsed" class="form-control" />
                <span asp-validation-for="IsUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntranceGate" class="control-label"></label>
                <input asp-for="EntranceGate" class="form-control" />
                <span asp-validation-for="EntranceGate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-success"  />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
