@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡¡BIENVENIDO!!</h1>
    <h1 class="display-4">CONCIERTO LA BICHOTA</h1>

    <p>PARCIAL 3 DESAROLLO DE SOFTWARE POR SANTIAGO NOHABA</p>
</div>
